# Spring Boot configuration
spring:
  application:
    name: byzzbench-simulator
  jackson:
    mapper:
      sort-properties-alphabetically: true
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:byzzbench
    username: sa
    password:
    driver-class-name: org.h2.Driver
    #url: jdbc:postgresql://localhost:5432/byzzbench
    #username: postgres
    #password: byzzbench
    #driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: true
    show-sql: true
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.H2Dialect
    #database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
  data:
    rest:
      base-path: "/jpa"

springdoc:
  swagger-ui:
    path: /
  api-docs:
    path: /spec

# ByzzBench configuration
byzzbench:
  autostart: true # Whether to start running a scenario campaign on startup.
  numScenarios: 2 # Number of scenarios to run in the campaign.
  saveSchedules: all # which schedules to save? 'all', 'buggy' or 'none'.

  scheduler:
    id: "byzzfuzz" # The ID of the exploration_strategy to use
    executionMode: sync # async (default, any message delivered) or sync (communication-closure hypothesis, FIFO)
    maxDropMessages: 0 # Maximum number of messages to drop per scenario
    maxMutateMessages: 0 # Maximum number of messages to mutate per scenario
    deliverTimeoutWeight: 1 # The weight for exploration_strategy to trigger a timeout
    deliverMessageWeight: 99 # The weight for exploration_strategy to deliver a message
    dropMessageWeight: 0 # The weight for exploration_strategy to drop a message
    mutateMessageWeight: 0 # The weight for exploration_strategy to mutate a message
    params: # additional parameters for the exploration_strategy
      # ByzzFuzz
      numRoundsWithProcessFaults: 2
      numRoundsWithNetworkFaults: 1
      numRoundsWithFaults: 10
      # Twins
      numReplicas: 1
      numTwinsPerReplica: 2
      numRounds: 5

  scenario:
    id: byzzbench.simulator.protocols.pbft_java.PbftJavaScenario
    params: # TODO: logic to read this is not yet implemented
      replicas: 4
      clients: 1
    scheduledFaults:
      factories: [ ]
    termination: # Success condition for the scenario - terminates it when all conditions are met
      minEvents: 10 # check if N events have been scheduled. If so, can terminate
      minRounds: 0 # check if N rounds have elapsed. If so, can terminate
      samplingFrequency: 1 # check if should terminate every N exploration_strategy decisions

  campaigns:
    - initialRandomSeed: 123
      numScenarios: 3
      scenarioParameters:
        scenarioId: byzzbench.simulator.protocols.pbft_java.PbftJavaScenario
        numReplicas: 4
        numClients: 1
      explorationStrategyId: byzzfuzz
      termination:
        minEvents: 10
        minRounds: 0
        samplingFrequency: 1
    - initialRandomSeed: 456
      numScenarios: 2
      scenarioParameters:
        scenarioId: byzzbench.simulator.protocols.hbft.HbftJavaScenario
        numReplicas: 4
        numClients: 1
      explorationStrategyId: random
      termination:
        minEvents: 10
        minRounds: 0
        samplingFrequency: 1
